__pycache__/__init__.cpython-37.pyc
__pycache__/mosaic_processing_algorithm.cpython-37.pyc
__pycache__/mosaic_processing_provider.cpython-37.pyc
__pycache__/resources.cpython-37.pyc
__pycache__/s2_mosaic.cpython-37.pyc
